.container {
    display: flex;
    margin-left: 10%;
}

.filters-sidebar {
    margin: 0;
    width: 20%;
}

.filters-sidebar .tags {
    flex-direction: column;
    margin-top: 6%;
}


.animal-list {
    width: 80%;
    padding: 1em;
}

.animals-grid {
    margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.animal-search .search {
    margin: 2% 12%;
}