.profile-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 4% 12%;
    gap: 30px;
}

.profile-info p {
    margin-top: 8px;
    border: 1px solid #D36135;
    border-radius: 10px;
    padding: 8px 16px;
    width: fit-content;
}

.profile-info input {
    margin-top: 8px;
}

h2 {
    margin-left: 12%;
    color: #083D77;
}

.tags {
    display: flex;
    gap: 16px;
    margin: 1% 12% 2%;
}

.tag {
    width: 134px;
    padding: 14px;
    background-color: #EBEBD3;
    text-align: center;
    border-radius: 20px;
    color: #083D77;
}
