.profile-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 4% 12%;
    gap: 30px;
}

.profile-info p {
    margin-top: 8px;
    border: 1px solid #D36135;
    border-radius: 10px;
    padding: 8px 16px;
    width: fit-content;
}

.profile-info input {
    margin-top: 8px;
}

h2 {
    margin-left: 12%;
    color: #083D77;
}
